<h1 class="text-2xl mb-4 font-bold">Photos</h1>

<%= render partial: "shared/errors" %>

<form action="<%= host_listing_photos_path(@listing) %>" method="POST" class="space-y-8 divide-y divide-gray-200">
    <input type=file data-direct-upload-url="<%= rails_direct_uploads_url %>" name="photo[photo]" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >

    <div class="sm:col-span-6">
    <label for="caption" class="block text-sm font-medium text-gray-700">
      Caption
    </label>
    <div class="mt-1">
        <input type="text" name="photo[caption]" id="photo[caption]" value="" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
    </div>
  </div>

  <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    Upload
  </button>
</form>


<% if @listing.photos.exists? %>
<div class="mt-5 bg-slate-200 rounded">
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Photos</h2>

    <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

  <% @listing.photos.each do |photo| %>
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <a href="<%= photo.photo.url %>">
          <img src="<%= photo.photo.url %>" alt="<%= photo.caption %>" class="h-80 w-full object-fill object-center lg:h-full lg:w-full">
          </a>
        </div>
        <div class="mt-2 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="<%= photo.photo.url %>">
                <span aria-hidden="true" class="absolute inset-0"></span>
                <%= photo.caption.capitalize %>
              </a>
            </h3>
          </div>
        </div>
      </div>
  <% end %>
    </div>
  </div>
  </div>
<% end %>