<%= render partial: 'shared/errors' %>

<form action="/reservations" method="post" class="flex items-center">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="reservation[listing_id]" value="<%= @listing.id %>">

<div class="relative">
    <input type="date" name="reservation[start_date]" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
</div>
  <span class="mx-4 text-gray-500">to</span>
<div class="relative">
    <input type="date" name="reservation[end_date]" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
</div>

  <input type="submit" value="Reserve" data-turbo="false" class="ml-4 py-3 px-5 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">

</form>

<% if @calendar_events.any?  %>
<div class="overflow-x-auto mt-5">
        <div class="bg-gray-100 flex items-center justify-center bg-gray-100 font-sans overflow-hidden">
            <div class="w-full lg:w-5/6">
                <div class="bg-white shadow-md rounded my-6">
                    <table class="min-w-max w-full table-auto">
                        <thead>
                            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                <th class="py-3 px-6 text-left">Start date</th>
                                <th class="py-3 px-6 text-left">End date</th>
                                <th class="py-3 px-6 text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">
                          <% @calendar_events.each do |calendar_event| %>

                            <tr class="border-b border-gray-200 hover:bg-gray-100">
                                <td class="py-3 px-6 text-left whitespace-nowrap">
                                    <div class="flex items-center">
                                        <span class="font-medium"><%= calendar_event.start_date %></span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <span><%= calendar_event.end_date %></span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span class="<%= status_span(calendar_event.try(:reservation).try(:status)) %>"><%= calendar_event.try(:reservation).try(:status) %></span>
                                </td>
                            </tr>
                              <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<% end %>